<script setup>
import { Head, Link } from '@inertiajs/inertia-vue3';

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
})
</script>

<template>
    <Head title="Welcome" />

    <div class="relative flex items-top justify-center min-h-screen bg-white sm:items-center sm:pt-0">
        <div v-if="canLogin" class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            <Link v-if="$page.props.auth.user" :href="route('words.index')" class="text-sm text-gray-700 dark:text-gray-500 underline">Words</Link>
            <Link v-if="$page.props.auth.user" :href="route('users.words.index', [ $page.props.auth.user.id ])" class="ml-4 text-sm text-gray-700 dark:text-gray-500 underline">Your Words</Link>

            <template v-else>
                <Link :href="route('login')" class="text-sm text-gray-700 dark:text-gray-500 underline">Log in</Link>

                <Link v-if="canRegister" :href="route('register')" class="ml-4 text-sm text-gray-700 dark:text-gray-500 underline">Register</Link>
            </template>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8 bg-gray-100 dark:bg-gray-900 border rounded-lg text-9xl text-white">
            Word
        </div>

        <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0 fixed bottom-0">
            Laravel v{{ laravelVersion }} (PHP v{{ phpVersion }})
        </div>
    </div>
</template>
