<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import { Head, useForm } from '@inertiajs/inertia-vue3';

const form = useForm({ text: '' });
</script>

<template>
    <Head title="Post Word" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Post Word
            </h2>
        </template>

        <div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
            <form @submit.prevent="form.post(route('users.words.store', [ $page.props.auth.user.id ]), { onSuccess: () => form.reset() })">
                <InputError :message="form.errors.text" />
                <textarea
                    v-model="form.text"
                    placeholder="What's the word?"
                    class="block w-full rounded-md"
                ></textarea>
                <PrimaryButton>Post</PrimaryButton>
            </form>
        </div>
    </AuthenticatedLayout>
</template>
