<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Word from '@/Components/Word.vue';
import { Head } from '@inertiajs/inertia-vue3';

defineProps([ 'words' ]);
</script>

<template>
    <Head title="Words" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Words
            </h2>
        </template>

        <template v-if="words.length">
            <Word v-for="word in words" :key="word.id" :word="word"></Word>
        </template>
        <template v-else>
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                        <div class="p-6 text-gray-900">
                            There are no words!
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </AuthenticatedLayout>
</template>
