<script setup>
import { Link } from '@inertiajs/inertia-vue3';

defineProps([ 'word' ]);
</script>

<template>
    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 text-gray-900">
                    {{ word.text }}
                </div>
                <div class="p-6 text-gray-900 italic">
                    -- <Link :href="route('users.words.index', [ word.user.id ])">{{ word.user.name }}</Link>
                </div>
                <Link
                    v-if="$page.props.auth.user.id === word.user.id"
                    :href="route('words.destroy', [ word.id ])"
                    method="delete"
                    as="button"
                    class="float-right inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150"
                >
                    Delete
                </Link>
            </div>
        </div>
    </div>
</template>
